[Unit]
Description=Distributed Replicated Block Device
After=systemd-modules-load.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
# Check the configuration file for syntax errors
ExecStartPre=/usr/sbin/drbdadm sh-nop
# Create the resources (and log what is being done)
ExecStart=/usr/sbin/drbdadm adjust-with-progress all
# Wait for connection
ExecStart=/usr/sbin/drbdadm wait-connect all
# Switch resources to primary if applicable
ExecStart=/usr/sbin/drbdadm sh-b-pri all
# Deactivate all resources on stop
ExecStop=/usr/sbin/drbdadm down all
# Re-adjust everything on reload
ExecReload=/usr/sbin/drbdadm adjust all

[Install]
WantedBy=multi-user.target
